
/* #n{
    display: flex;
    color: aqua;
    background-color: rgb(10, 87, 10);
    justify-content: space-between;
    border-radius: 10px;

} */
/* h1{
    padding-left: 10px ;
    color: rgb(3, 3, 3);
    font-size: 5px large;
    margin-right: 100vh;
} */
/* #a{
    margin-top: 30px;
    color:white ;
    text-decoration: none;
    margin-right: 5px;
  
} */
/* body{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: rgb(157, 156, 156);

} */
h2{
    margin-top: 5vh;
    text-align: center;
    color:  #52e08d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 5vh;
    text-shadow: 10px 20px 10px #353333

}
#nom,#email,#suj,#msj,#error{
    background-color: rgba(64, 215, 64, 0.51);
    border: 1px rgb(247, 11, 11) solid;
    font-size: 20px;
    margin-left:10vh;
    border-radius: 8px;
    margin-bottom: 30px;
    text-shadow: rgb(247, 11, 11);
    padding: 15px;
    color: white;
    
    
    
}
input::placeholder{
    color: rgb(225, 224, 224);
    margin-left: 20px;
}
/* #form{
    
    padding: 0;
    border-radius: 10px;
    background-color: rgb(4, 165, 23);
    padding-top: 40px;
    justify-content: center;
    margin-left: 50vh;
    margin-right: 50vh;

} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: rgba(208, 203, 203, 0.615);
}

nav {
    background-color: #2DCC70;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

nav a:hover {
    color: #f4f4f4; 
}

nav h1 {
    margin: 0;
    font-size: 24px;

}
#submit{
    float: inline-end;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: gray; 
    color: greenyellow;
    border-radius: 11px;
    border-color: #fff;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px;
    
}
#submit:hover{
    background-color: #2DCC70;
    color: #fff;
    transform: scale(1.2);
    transition: 1s;
}
#ffff{
    display: flex;
    
}
#errormsj{
    margin-left: 8px;
}
#diiiv{
    background-color: #fff;
    margin-left: 40vh;
    border-radius: 5px;
    width: 50%;
    /* box-shadow: 50 59 70px rgba(12, 12, 12, 0.1); */
    transition: transform 0.3s ease;
    align-content: center;
    padding-top: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #353333;
    margin-bottom: 20px;
    
} 