body {
    font-family: Arial, sans-serif;
    background-attachment: fixed; 
    height: 100vh;
    margin: 0;
    color: #ffffff;
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    height: 130vh;
    filter: blur(10px);
    z-index: -1; /* Ensures the background stays behind the content */
  }

footer, nav {
    
    background-color: #333;
    color: white;
}

nav {
    background-color: #2DCC70;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

nav a:hover {
    color: #f4f4f4; 
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

.wst {
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    font-weight: bold;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 50px;
    text-align: center;
}

.search input {
    margin-bottom: 50px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
}



.Q1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Q1 select {
    background-color: #2DCC70;
    border: none;
    border-radius: 2px;
    color: white;
    height: 40px;
    width: 310px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    background-color: #333;
}

footer p {
    margin: 0;
}
.search img {
    position: absolute;
    top: 61%;
    left: 795px;

    width: 20px; / Set the icon width /
    height: 10px; / Set the icon height */
}