


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffff;
}

nav {
    background-color: #2DCC70;
    color:#ffffff;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

nav a:hover {
    color: #f4f4f4; 
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}
img{
    width: 1280px;
    height: 450px;
    filter:blur(3px);
    
}
.blurred-image {
    filter: blur(3px); /* Apply a blur with a radius of 5px */
  }
section{
    
        background-image: url('/assets/images/background.jpg');
        background-size: cover;  
        background-position: center;  
        background-repeat: no-repeat;  
        height: 500px;  
       

      
  }
  h1{
    font-size: 30px;
    color: #023117;
    display: flex;
    justify-content: center;
    

    
    
   
}

/* Hero Section */
.hero {
    background-color: #7F7F7F;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    color: rgb(62, 193, 10);
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    color: rgb(5, 69, 15);
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-bottom: 100PX;
}

.cta-button {
    background-color: #2DCC70;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
   
}

.cta-button:hover {
    background-color: #25a35a;
}
