*{
    margin:0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    height: 100vh;
   
    
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1; 
  }

nav {
    
    background-color: #2DCC70;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

nav a:hover {
    color: #f4f4f4; 
}

nav h1 {
    margin: 0;
    font-size: 24px;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
   
}
img{
    width: 400px;
    height: 400px;
}



.text-content {
    flex: 1;
    text-align: justify; 
}


.text-content h1 {
<<<<<<< HEAD
    color: #ffffff; /* Couleur gris */
=======
    color: #7a7a7a;
>>>>>>> 11556bf59c45611fb174f7a22128ac93ca08182e
    margin-bottom: 15px;
    margin-left: 20px;
}


.text-content p {
    padding: 15px;
    width: 300px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    background-color: #D9D9D9;
    border-radius: 20px;
    font-weight: bold;
}


.text-content button {
    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 90px;
}

.text-content button:hover {
    background-color: #218838; 
}

<<<<<<< HEAD
.services {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.services h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.service {
    text-align: center;
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.service img {
    max-width: 100%;
    height: 300PX;
    border-radius: 8px;
    margin-bottom: 15px;

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: sticky; /* Fix the footer to the screen */
    bottom: 0; /* Align it to the bottom of the viewport */
    left: 0;
    width: 100%; /* Make sure it spans the entire width */
    margin-top: 0; /* Remove the top margin to prevent gaps */
}

footer p {
    margin: 0;
}

