body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    
   
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1; 
  }

nav {
    background-color: #2DCC70;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0; 
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
}

nav a:hover {
    color: #f4f4f4; 
}

nav h1 {
    margin: 0;
    font-size: 24px;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
   
}
img{
    width: 400px;
    height: 400px;
}



.text-content {
    flex: 1;
    text-align: justify; 
}


.text-content h1 {
    color: #7a7a7a;
    margin-bottom: 15px;
    margin-left: 20px;
}


.text-content p {
    padding: 15px;
    width: 300px;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    background-color: #D9D9D9;
    border-radius: 20px;
    font-weight: bold;
}


.text-content button {
    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 90px;
}

.text-content button:hover {
    background-color: #218838; 
}


